/* ==========================================================================
   QUERIES
   ========================================================================== */

/*
 * Mixing for mobile first queries.
 * Two breakpoints.
 * Use like @include break(medium) {
 *  ***Styles***
 * }
 *
 */

@mixin break($point) {
  @if $point == not-small {
    @media screen and (min-width: $bp-not-small-min-w) {
      @content;
    }
  }
  @else if $point == medium {
    @media screen and (min-width: $bp-medium-min-w) and (max-width: $bp-medium-max-w) {
      @content;
    }
  }
  @else if $point == large {
    @media screen and (min-width: $bp-large-min-w)  {
      @content;
    }
  }
}

