/* ==========================================================================
   VARIABLES
   ========================================================================== */

// Media query breakpoints

$bp-not-small-min-w: 37.5em;
$bp-medium-min-w: 37.5em;
$bp-medium-max-w: 75em;
$bp-large-min-w: 75em;
